.list{
width: 100%;
margin-top: 20px;
.listTitle{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
}
.wrapperi{
    position: relative;
    .SliderArrow{
        width: 50px;
        height: 100%;
        background-color:rgba(189, 183, 183, 0.5);
        color:gray;
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 100; //to make that arrow visible while sliding

        &.left{
            left: 0;
        }
        &.right{
            right: 0;
        }
    }
    .containeri{
            margin-left: 50px;
            display: flex;
            width:max-content ;
            margin-top: 15px;
            transition: all 1s ease;
    }
}


}
