.listItems{
    width: 225px;
    height: 220px;
    background-color: var(--main-color);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: aliceblue;
    
    img{
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
    &:hover{
        width: 325px;
        height: 380px;
        position: absolute;
        top: -80px;
        //Box shadow CSS generator>>>
        -webkit-box-shadow: 5px 5px 36px 23px rgba(255,251,252,0.29); 
        box-shadow: 5px 5px 36px 23px rgba(255,251,252,0.29);
        img{
            height: 170px;
        }
       
       
    }
}
