.Navbar {
  width: 100%;
  color: white;
  font-size: 15px;
  font-style: normal;
  position: fixed; // to fix NETFLIX and other things written on top while scrolling
  top: 0px;
  z-index: 999;
  background: linear-gradient(to top,transparent 0%, rgb(0,0,0,0.5) 50px);

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    .left {
      display: flex;
      align-items: center;
      margin-right: 40px;
      img {
        height: 50px;
        width: 170ox;
      }
      span {
        margin-right: 40px;
      }
    }
    .right {
      img {
        height: 25px;
        width: 30px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
      }
      .icon {
        margin: 0 10px;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 3px;
          span {
            padding: 15px;
            cursor: pointer;
          }
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
